<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inteligentna biblioteka</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background-color:whitesmoke;">
<h1 style="text-align: center; "><i><em><sup>Inteligentna biblioteka</sup></em></i></h1>
<table border="5" style="float: right; width: 200px; height: 150px;">

    <tr style="text-align: center; "><td><a href="http://localhost:63342/welcome/loginpage.html?_ijt=974sdqbu3dc0i6hseit3jc5fo3&_ij_reload=RELOAD_ON_SAVE">Użytkownik</a></td></tr>
    <tr style="text-align: center; "><td>Nowości</td></tr>
</table>
<head >
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <title>jQuery UI Datepicker - Display button bar</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
        $( function() {
            $( "#datepicker" ).datepicker({
                showButtonPanel: true
            });
        } );
    </script>
</head>
<body>
<p>Date: <input type="text" id="datepicker"></p>
</body>

<body>
<br><br><br><br><br>
<h1 ><font face="Georgia, Times, serif" size="+2">
    Sztuczna inteligencja w służbie książki
</font></h1>
<br><br>
<h2><font face="Georgia, Times, serif" size="-2">
    Koncepcja smart library niesie potencjał dla projektowania nowoczesnych, zintegrowanych usług informacyjnych, w bibliotekoznawczej
    literaturze przedmiotu brakuje jednak propozycji konkretnych rozwiązań w tym zakresie. Konieczne jest wypracowanie rozwiązań koncepcyjnych,
    które pozwoliłyby wykorzystać potencjał nowych technologii dla doskonalenia jakości bibliotecznej oferty usługowej. Wdrożenie koncepcji smart
    library w polskich bibliotekach wymaga obok pokonania problemów o charakterze koncepcyjnym – rozwiązania kwestii organizacyjnych i finansowych. Przemyślenia wymaga m.in. sposób, zakres i harmonogram
    wdrażania rozwiązań IoT w bibliotekach, a także sposób długoterminowego finansowania takich projektów. Rozwiązaniem niektórych problemów może być wykorzystanie, w większym niż dotychczas stopniu,
    zasobów dostarczanych przez samych użytkowników od ich prywatnych urządzeń mobilnych, poprzez generowane przez nich dane, aż po
    społecznościowo tworzone zasoby informacyjne, a nawet społecznościowo rozwijane aplikacje. Przemyślenia wymagają także kwestie etyczne
    i prawne związane z odpowiedzialnym przetwarzaniem i zabezpieczaniem danych użytkowników, tak by z jednej strony w pełni wykorzystać potencjał zbieranych informacji, a z drugiej strony nie naruszyć prywatności użytkowników. Umiejętne wykorzystanie nowych rozwiązań
    technologicznych oraz integrowanie w ramach jednej platformy danych i zasobów dostarczanych zarówno przez bibliotekę, jak i przez jej użytkowników wydaje się kluczem do tworzenia nowoczesnych, zintegrowanych usług bibliotecznych
</font></h2>
</body>
<body>
<img src="../1299906220812.jpg" alt="Tekst alternatywny" width="200" height="200">
<img src="../pippi-na-poludniowym-pacyfiku-6541118.webp" alt="Tekst alternatywny" width="200" height="200">
</body>
</body>
</html>